
    /*font-family: 'Bangers', cursive;
    font-family: 'Permanent Marker', cursive;

    font-family: 'Bungee', cursive;
	font-family: 'Palanquin Dark', sans-serif;
	font-family: 'Archivo Black', sans-serif;
	font-family: 'Anton', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Teko', sans-serif;
	font-family: 'Jockey One', sans-serif;
	font-family: 'PT Sans', sans-serif;
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.about-me {
	font-family: 'PT Sans', sans-serif;
}

#x {
	font-family: 'Palanquin Dark', sans-serif;
}
.name-bar {
	 font-family: 'Bungee', cursive;
	 /*font-family: 'Palanquin Dark', sans-serif;*/
	 /*font-family: 'Archivo Black', sans-serif;*/
	 /*font-family: 'Anton', sans-serif;*/
	 /*font-family: 'Fjalla One', sans-serif;*/
}

#banner-img {
	/*height: 100vh;*/
	width: 100%;
	object-fit:cover;
	
}

.cont-img {
	padding: 0;
	margin-top: 200px;
	height: 100%; 
}


#me-img {
	height: 350px;
	width: 350px;
	border-radius: 50% 50%;
	border:4px dashed black;
}

#cont-me {
	text-align: center;

}


.nav-text {
	/*font-family: 'Bangers', cursive;*/
	font-family: 'Permanent Marker', cursive;
	font-size: 1em;
}

.navbar-brand {
	font-size: 1.25em;
}

.bg-dark {
	transition: all linear .25s;
	transition-timing-function: linear;
}

.text-skill {
	font-family: 'Palanquin Dark', sans-serif;
}

.header-text {
	/*font-family: 'Palanquin Dark', sans-serif;*/
	 /*font-family: 'Archivo Black', sans-serif;*/
	 /*font-family: 'Anton', sans-serif;*/
	 /*font-family: 'Fjalla One', sans-serif;*/
	 /*font-family: 'Bungee', cursive;*/
	 /*font-family: 'Teko', sans-serif;*/
	 font-family: 'Jockey One', sans-serif;
	font-size: 8em;

}

.header-text2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 3em;
}

.header-text3 {
	font-family: 'Palanquin Dark', sans-serif;
	/*font-family: 'Teko', sans-serif;*/
	font-size: 1.4em;
}

.header-text-contact {
	color: #F2F2F2;
	font-family: 'Jockey One', sans-serif;
	font-size: 6.5em;

}

.header-text-contact2 {
	color: #F2F2F2;
	font-family: 'Fjalla One', sans-serif;
	font-size: 3em;
}


#background-firstcont {
	/*background-image: url(../images/bg2.png);*/
	height: 100%;
	width: 100%;
	object-fit: cover;
}

ul#contact-icon {
	list-style: none;
	padding-top: 50px;
}

ul#contact-icon>li {
	display: inline;
	padding: 20px;
	color: #F2F2F2;

}

.capstone-cont {
	padding-left: 5%;

}

.capstone-indi {
	border: none;
}

.btn-capstone {
	border: 2px dashed #581845;
	color: #FFC300;
	font-family: 'Palanquin Dark', sans-serif;
}

.btn-capstone:hover {
	border: 2px solid #900C3F;
	background-color: #900C3F;
	color: #FFC300;
}

.card-title {
	font-family: 'Teko', sans-serif;
}

#footer {
	font-family: 'Palanquin Dark', sans-serif;
}
/*.cont-skills {
	min-height: 50vh;
}
*/
























/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.capstone-cont {
		padding-left: 250px;
		padding-top: 50px;

	}
}

/*mobile style*/
@media only screen and (max-width: 400px) {
	.navbar-defult {
	background-color: black;
	}

	#me-img {
	height: 200px;
	width: 200px;
	border-radius: 50% 50%;

	}

	.header-text {
		font-family: 'Jockey One', sans-serif;
		font-size: 4.5em;

	}

	.header-text2 {
		font-family: 'Fjalla One', sans-serif;
		font-size: 2em;
	}

	.header-text3 {
		font-family: 'Palanquin Dark', sans-serif;
		/*font-family: 'Teko', sans-serif;*/
		font-size: 1em;
	}
	.navbar-brand {
		font-size: .5em;
	}
	ul#contact-icon {
		list-style: none;
		padding-top: 50px;
	}

	ul#contact-icon>li {
		display: inline;
		padding: 5px;
		color: #F2F2F2;

	}

	.capstone-cont {
		padding-left: 35px;
		padding-top: 50px;

	}
}